<p>nav-bar works!</p>


<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar color="primary">
            <span>Menú</span>
            <span class="spacer"></span>
            
            <button mat-icon-button
                    (click)="sidenav.toggle()">
                <mat-icon><span class="material-symbols-outlined">
                    menu
                    </span></mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="/peliculas/listado"
                mat-list-item
                routerLinkActive="bg-primary"
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>label</mat-icon>
                <span>Listado de peliculas</span>
            </a>

            <a routerLink="/peliculas/buscar"
                mat-list-item
                routerLinkActive="bg-primary"
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>search</mat-icon>
                <span>Buscar Pelicula</span>
            </a>

            <!-- <a routerLink="/auth/login"
                mat-list-item
                routerLinkActive="bg-primary"
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>add</mat-icon>
                <span>Logearse</span>
            </a> -->

            <a routerLink="/auth/registro"
                mat-list-item
                routerLinkActive="bg-primary"
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>add</mat-icon>
                <span>Registrarse</span>
            </a>


        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button
                (click)="sidenav.toggle()">
            <mat-icon><span class="material-symbols-outlined">
                menu
                </span></mat-icon>
        </button>

        <span class="spacer"></span>

        <span>{{auth.usuario}}</span>

        <!-- <button mat-button
                (click)="logout()">
            Salir
        </button> -->

    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>
    

</mat-sidenav-container>