<mat-grid-list cols="1" *ngIf="!pelicula; else divPelicula">
    <mat-grid-tile>
        <mat-spinner ></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>


<ng-template #divPelicula>
    <div class="container">
        
            <div class="float-end">
                <span>
                    <a routerLink="./peliculas/listado">Peliculas <mat-icon class="text-dark" style="position: relative;" >navigate_next</mat-icon> </a> <a > {{ pelicula.nombre }}  </a>  
                </span>    
            </div>
        <div class="row">
            <div class="col-6">
                <h1> {{  pelicula.nombre }} <small> {{ pelicula.TituloOriginal }} </small> </h1>
                <mat-divider></mat-divider>
                <br>
                <img [src]="pelicula | imagen">
            </div>
            <div class="col-6">
                <h1> {{ pelicula.Pais }} </h1>
                <mat-divider></mat-divider>

                <mat-list>
                    <mat-list-item>Genero:  {{ pelicula.Genero }}</mat-list-item>
                    <mat-list-item>Sinopsis:</mat-list-item>
                    <mat-list-item>{{ pelicula.Sinopsis }}</mat-list-item>
                </mat-list>
                
                <br>
                <button mat-button color="warn" (click)="regresar()">
                    Regresar
                </button>
            </div>
        </div>
    </div>
</ng-template>
    